{{- $private := .zsh.private -}}

{{ if (env "SSH_AUTH_SOCK") }}
{{ range $private -}}
{{ if all .repo .path -}}
["{{ .path }}"]
    type = "git-repo"
    url = "git@github.com:{{ .repo }}.git"
    refreshPeriod = "{{ default "1h" .refreshPeriod }}"

{{ end -}}
{{ end -}}
{{ end -}}