#!/bin/bash

{{ template "base-shell-environment.sh" . }}

{{ template "shell_utils.sh" . }}

if [[ -e "/opt/homebrew/bin/brew" && ! $(command -v brew) ]]; then
    echo "Adding Homebrew to your PATH"
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

header "Installing Packages with Homebrew"
{{ template "install_brew_packages.sh" . }}