{{- $use_secrets := promptBoolOnce . "use_secrets" "Use secrets from 1Password? (true/false)" -}}

sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"
progress = true

bootstrapped = true
[data]
  bootstrapped = true
  github_user = "brentm5"
  use_secrets = {{ $use_secrets }}
  xdgCacheDir       = "{{ .chezmoi.homeDir }}/.cache"
  xdgConfigDir      = "{{ .chezmoi.homeDir }}/.config"
  xdgDataDir        = "{{ .chezmoi.homeDir }}/.local/share"
  xdgStateDir       = "{{ .chezmoi.homeDir }}/.local/state"
  userBinDir        = "{{ .chezmoi.homeDir }}/.local/bin"
  userCodeDir       = "{{ .chezmoi.homeDir }}/code"
  cloudSyncDir      = "{{ .chezmoi.homeDir }}/.cloud-sync"
  secretsFile       = "{{ .chezmoi.homeDir }}/.secrets.local"

[template]
  options = ["missingkey=zero"]

[diff]
  exclude = ["scripts"]
{{- if lookPath "delta"}}
  pager = "delta"
{{ end }}

{{- if lookPath "code" }}
[edit]
  args    = ["-r", "--wait"]
  command = "code"
{{ end }}