{{- if .work_environment }}
export DD_SITE='datadoghq.com'
export DD_BETA_COMMANDS_ENABLED=1

export REQUESTS_CA_BUNDLE=/Library/Application\ Support/Netskope/STAgent/download/nscacert_combined.pem

{{- end }}
