Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- if and .use_secrets (not .work_environment) }}
{{- range .ssh.hosts }}

Host {{ .name }}
    User {{ (onepasswordDetailsFields .op_id).username.value }}
    Hostname {{ (onepasswordDetailsFields .op_id).url.value }}
{{- if (onepasswordDetailsFields .op_id).port }}
    Port {{ (onepasswordDetailsFields .op_id).port.value }}
{{- end }}
{{- end }}
{{- end }}

Include {{ .xdgConfigDir }}/colima/ssh_config
