
# Used to store secrets that we want replaced and stored in the environment regularly
# For secrets that should only be loaded on demand use ~/.secrets.local and the load-secrets command

# Pushover values
export PUSHOVER_API_KEY="{{ onepasswordRead "op://private/pushover-api-key/credential" }}"
export PUSHOVER_USER_KEY="{{ onepasswordRead "op://private/pushover-brent-deliver-group/credential" }}"
